
DesignDocument/CS307_Team22_DesignDocument.aux
DesignDocument/CS307_Team22_DesignDocument.log
DesignDocument/CS307_Team22_DesignDocument.toc
DesignDocument/CS307_Team22_DesignDocument.synctex.gz
DesignDocument/source/.DS_Store
DesignDocument/.DS_Store
Documentation/.DS_Store
DesignDocument/images/.DS_Store
Documentation/.DS_Store
Documentation/SprintPlanning/.DS_Store
Documentation/.DS_Store
Documentation/.DS_Store
