
DesignDocument/CS307_Team22_DesignDocument.aux
DesignDocument/CS307_Team22_DesignDocument.log
DesignDocument/CS307_Team22_DesignDocument.toc
DesignDocument/CS307_Team22_DesignDocument.synctex.gz
.DS_Store
Documentation/.DS_Store
.metadata
.project
.settings
.classpath
